<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="blocks/head"><title>Детали</title></head>
<body>
<header th:insert="blocks/header"></header>

<div class="container mt-5" >
    <div th:each="element : ${post}" class="alert alert-info mt-2">
        <h3 th:text="${element.title}"></h3>
        <p th:text="${element.full_text}"></p>
        <div>
        <label sec:authorize="isAuthenticated()">
                 <a th:href="'/blog/' + ${element.id} + '/edit'" class="btn btn-success">Редактировать</a>
         </label>
         <label sec:authorize="hasRole('ADMIN')">
                 <a th:href="'/blog/' + ${element.id} + '/remove'" class="btn btn-success">Удалить</a>
         </label>
        <input type="button" value="Назад" onclick="history.back()" class="btn btn-success">
    </div>
    </div>
</div>
<footer th:insert="blocks/footer"></footer>
</body>
</html>